catch-of-the-day/node_modules
sick-fits/frontend/node_modules
sick-fits/frontend/.next/
sick-fits/backend/node_modules
*.zip
.DS_Store
.idea
notes.md
catch-of-the-day/build/
slick-slices/gatsby/node_modules
slick-slices/sanity/node_modules
slick-slices/gatsby/.cache/
slick-slices/gatsby/public
slick-slices/sanity/config/.checksums
slick-slices/gatsby/.env
